footer a {
  display: inline;
  font-family: "Source Sans Pro";
  text-decoration: none;
  color: white;
}
footer .bi {
  padding: 5px;
  margin-right: 7px;
  border-radius: 3px;
}

.bg-contact {
  background-image: url(../imgcv/hat.jpg);
  background-size: cover;
  background-position: center;
}

form {
  margin-top: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
form button {
  height: 50px;
  width: 50px;
  margin-top: 54px;
  padding: 15px;
  text-align: center;
}

nav {
  font-weight: bold;
  color: black;
}
nav div a img {
  height: 25px;
  width: 25px;
  border-radius: 15px;
}

.bg {
  text-align: center;
  padding: 2px;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  filter: blur(7px);
}

.home {
  background-image: url(../imgcv/blackhiena.jpg);
  padding: 2px;
}

.bg-text {
  color: #e0cf1f;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Solway", serif;
  border: 3px solid #e0cf1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.entireCarousel {
  margin-top: 15px;
}

.custom-section {
  padding: 50px;
  text-align: center;
  align-items: center;
}

.cardBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.carouselCard {
  text-align: center;
  font-weight: bold;
  border: 3px solid black;
  height: fit-content;
  border-radius: 2px;
  background-color: black;
  color: #e0cf1f;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel-item {
  height: 26rem;
  background-color: black;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.card-header {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #e0cf1f;
}

.itemOne {
  background-image: url(../imgcv/cakeone.jpg);
}

.itemTwo {
  background-image: url(../imgcv/caketwo.jpg);
}

.itemThree {
  background-image: url(../imgcv/cakethree.jpg);
}

.itemFour {
  background-image: url(../imgcv/cakeFour.jpeg);
}

.itemFive {
  background-image: url(../imgcv/cakeFive.jpeg);
}

.itemSix {
  background-image: url(../imgcv/cakeSix.jpeg);
}

.bgr {
  text-align: center;
  padding: 2px;
  background-size: cover;
  height: 80vh;
  box-sizing: border-box;
  filter: blur(7px);
}

.web {
  background-image: url(../imgcv/umakill.jpg);
  padding-bottom: 10px;
}

.bg-textWeb {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Solway", serif;
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bgc {
  text-align: center;
  padding: 2px;
  background-size: cover;
  height: 75vh;
  box-sizing: border-box;
  filter: blur(7px);
}

.creative {
  background-image: url(../imgcv/arm.jpg);
  padding: 2px;
}

.bg-textCreative {
  color: #e0cf1f;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Solway", serif;
  border: 3px solid #e0cf1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.title {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: lightgray;
  margin: 0;
}

/*# sourceMappingURL=estilo.css.map */
