.carousel-item {
    height: 30rem;
    background-color: black;
    background-image: url(../imgcv/cakeone.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.card-header {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #e0cf1f;
}