footer {
    padding: 10px;
    background-color: #3373e1ff;
    text-align: center;
    margin-left: none;
    margin-top: 20px;
    font-size: 200%;
    
    a {
    display: inline;
    font-family: 'Source Sans Pro';
    text-decoration: none;
    color:  #bb83e3ff;
  }

}
  