@import "mixin";

form {
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

        button {
            height: 80px;
            width: 50px;         
            margin-top: 20px;
        }
    }