form {
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    div { 
        padding: 10px;
    
        button {
            height: 80px;
            width: 100px;            
            margin-top: 20px;
            font-size: 200px;
            transform: translate(600px);
        }
 }
}